/* 
id: #
class: . 
*/
*{
  /* To add border inside rather than outside like div */
  box-sizing: border-box;
  /* -moz-box-sizing: border-box; */
  font-family: sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
body{
  /* background-color: green;  */
  /* Don't set background color in the HTML body */
  cursor: crosshair;
  background-image: url("canvas_background.png");
  /* background-size: 50% 50%; Not working */
  background-repeat: repeat;
}
canvas{
  opacity: 0.92;
  width: 91.9%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 0;
  padding-right: 0; */
  border: 1px dashed darkred;
  /* solid #000000; */
}
#toolbar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
  height: 50px;
  padding-top: 10px;
  /* position: fixed; */ /* Not useful */
  top: 0; /* ??????? */
  background-color: #524f4fea;
  color: rgb(255, 221, 159);
  /* overflow: hidden; */ /* This will let the dropped menu be hieedn */
}
#save.hover{
  background-color: crimson;
  color: fuchsia;
  cursor: pointer;
}
.toolbarObject{ 
  height: 30px;
  padding: 7px; /* The left & right distance of the word to the box*/
  padding-top: 3px;
  color: rgb(241, 237, 229);
  text-align: center; /* Won't do anything if the text only take 1 line */
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
  cursor: pointer;
  /* background-color: #696868; */
}
#colors{
  float: right;
  /* top: 5px; */
  /* left: 10px; */
}
.clr {
  width: 26px;
  height: 26px;
  border-radius: 7px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px (0, 0, 0, 0.5); /*x y blur(?) opacity */
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 1px;
  cursor: pointer;
  /* margin-top: 10px; */
  /* text-align: center; */
}
.clr.active{
  border: 1.5px solid white;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}
/* #red {
  background-color: red;
}
#blue {
  background-color: blue;
}
*/